<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>
    <header>
        <h1 style="color: rgb(204, 74, 42);">News Article Evaluator
        </h1>
    </header>
    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="url" name="test-url" value="" placeholder="https://www.news-source/a-news-article...">
                <input id="sub" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
            <p id="error-message"></p>
            <section>
    </main>
    <footer role="contentinfo">
        &copy 2020 Lana Gasparyan
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>