form {
    border: 5px solid #101010;
    border-radius: 3px;
    padding: 120px;
    width: 60;
}

input {
    background-color: rgb(252, 245, 235);
    padding: 20px 30px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    border-color: black;
}

sub {
    background: #3f613f;
    font-family: 'Courier New', Courier, monospace;
    height: 20px;
}